body { background-color:aquamarine; text-align: center; }
header { display: flex; justify-content: center; align-items: center; align-items:normal; }
.navbar { display: flex; justify-content: center; align-items: center; background: #0f83f8; max-width: 100%; width: 100%;}
.navbar { height: 100px; background: #0e7dec; border-bottom: 1px dashed #4eb8ff; }
    .navbar a { color: #150e0e; text-decoration: none;
         text-transform: uppercase; font: 20px 'Stint Ultra Condensed';max-width: 100%; width: 100%;}
  .title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}
  .logo { height: 63px;} 
 .nav-link{ background-color: #f8f8f800; text-decoration-color: #150e0e; }
.navbarNav {font-style: italic; background-position: 100%; font-size: xx-large;} 
.list-services {align-items: center; display: inline;position: relative; line-height: normal; flex-flow: column; }
.Fig{align-items: center; display: inline; position: relative; justify-content: center;text-align: justify; height: 20cm; line-height: normal;flex-flow: column-reverse; }



.footer { background-color: aqua; font-style: normal; text-align: left; height: 4cm;
     font-size: medium; }


